.lightGrey {
    color: #9F9F9F;
    font-size: 20px;
    font-weight: bold;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;;
}

.bold {
    font-weight: bold;
}

.medium {
    font-size: 16px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

/**********  MAIN PAGE  *************/

/********** BEGIN PORTFOLIO  *************/
.mainPagePortfolio {

}

.mainPagePortfolio ul {
    vertical-align: top;
    list-style: none;
    margin-bottom: 5px;
    padding: 0;
}

.mainPagePortfolio li {
    width: 19%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    list-style: none;
    margin: 0 10px 20px 10px;
}

.mainPagePortfolio img {
    width: 100%;

}

.mainPagePortfolio h4 {
    margin: 10px 0;
}

.mainPagePortfolio li > a {
    display: block;
    margin-bottom: 5px;
}

.portfolioTag img {
    height: 16px;
    width: inherit;
    position: relative;
    top: 2px;
}

.portfolioTag > span {
    margin-right: 10px;
}

.orangeButton {
    background: #fa730e;
    padding: 15px 10px;
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
    border-radius: 5px;
    /*box-shadow: 2px 2px 2px grey;*/
    display: inline-block;
}

.orangeButton:hover {
    background: #2763ac;
    /*box-shadow: 2px 2px 2px grey;*/
    cursor: pointer;

}

.orangeButton:active {
    position: relative;
    /*box-shadow: 2px 2px 2px grey;*/
    top: 2px;
}

.mainPagePortfolio a {
    display: inline-block;
}

.goToPortfolio {
    margin: 0 0 20px 10px;

}

/***** END PORTFOLIO ********/

/******** BEGIN  SERVICES ****/

.services ul {

    margin: 0;
    padding: 0;
}

.services li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 0 15px 12px;
}

.services span {
    display: inline-block;
    margin-top: 10px;
}

.whiteDiv {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 5px 10px 10px;
    margin-bottom: 10px;
}

.iconLink {
    height: 40px;
}

.iconLink2 {
    position: relative;
    top: 4px;
}

.iconServiceLink1 {
    position: relative;
    top: -10px;
    left: 10px;
}

.iconServiceLink2 {
    position: relative;
    left: 10px;
}

.iconServiceLink3 {
    position: relative;
    top: -5px;
    left: 10px;
}

/********* END SERVICES ***********/

/********* BEGIN NAM DOVERAUT *********/

.home_folio_list {
    width: 150px !important;
    height: 150px !important;
}

.home_folio_list td {
    width: 150px !important;
    height: 150px !important;
}

.home_folio_box .human_id td span {

    width: 150px !important;
    padding: 0 0 !important;
}

.preview_picture {
    width: 150px;
    height: 150px;
}

/********* END NAM DOVERAUT *********/

/********* BEGIN OUR BLOG *********/

.blog ul {
    padding: 0;
}

.blog li {
    vertical-align: top;
    display: inline-block;
    width: 48.5%;
    margin-right: 15px;
    margin-bottom: 30px;
}

.quote {
    vertical-align: top;
}

.blogHeader {
    font: bold 16px "PT Sans Caption", "PT Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 90%;
}

.newsImage {
    width: 100%;
    margin: 15px 0;
}

.blogWhite {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 15px;
    margin-bottom: 15px;
}

/********* END OUR BLOG *********/

/******** BEGIN FOOTER **********/

footer ul {
    vertical-align: top;
    padding: 0;
}

footer li {
    vertical-align: top;
    width: 32%;
}

footer span {
    display: inline-block;
}

footer h3 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #9e9e9e;
    font-size: 20px !important;
}

.top {
    vertical-align: top;
}

footer {
    padding-top: 20px;
    margin-bottom: 100px;
    border-top: 1px solid lightgrey;
}

.footerIcon {
    vertical-align: top;
    width: 43px;
    height: 43px;
    border-radius: 5px;
    background-color: #e65500;
    margin: 0 10px;
}

.footerContactIcons {
    color: #fff !important;
    display: table-cell;
    font: bold 18px Verdana, Geneva, sans-serif !important;
    height: 43px;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    width: 43px;
}


